<md-card-content>
  <md-card-title>Monitor</md-card-title>
  <div class="row">
    <div class="label">Current state:</div>
    <div class="value">{{monitor?.state}}</div>
  </div>

  <div class="row">
    <div class="label">State time:</div>
    <div class="value">{{monitor?.time?.stateTimeMs/1000}}</div>
  </div>
  <div class="row">
    <div class="label">GPS info:</div>
    <div class="value">{{gpsInfo}}</div>
  </div>
  <div class="row">
    <div class="label">Orientation:</div>
    <div class="value">{{orientation}}</div>
  </div>
  <div class="row">
    <div class="label">Left/right:</div>
    <div class="value">{{monitor?.imgRec?.leftRight}}</div>
  </div>
  <div class="row">
    <div class="label">Top/bottom:</div>
    <div class="value">{{monitor?.imgRec?.topBottom}}</div>
  </div>
  <div class="row">
    <div class="label">Side percentage:</div>
    <div class="value">{{monitor?.imgRec?.size}}</div>
  </div>

</md-card-content>





<!--<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"-->
                <!--xmlns:tools="http://schemas.android.com/tools"-->
                <!--android:layout_width="match_parent"-->
                <!--android:layout_height="match_parent"-->
                <!--android:background="#444"-->
                <!--android:padding="5dp"-->
                <!--tools:context=".fragments.ObserveOnlyFragment">-->

  <!--<LinearLayout-->
    <!--android:id="@+id/golf_ball_buttons"-->
    <!--android:layout_width="match_parent"-->
    <!--android:layout_height="wrap_content"-->
    <!--android:layout_marginLeft="5dp"-->
    <!--android:layout_marginRight="10dp"-->
    <!--android:orientation="horizontal">-->

    <!--<ImageButton-->
      <!--android:id="@+id/location_1_image_button"-->
      <!--android:layout_width="0dp"-->
      <!--android:layout_height="wrap_content"-->
      <!--android:layout_weight="1"-->
      <!--android:adjustViewBounds="true"-->
      <!--android:background="#0444"-->
      <!--android:scaleType="fitCenter"-->
      <!--android:src="@drawable/none_ball" />-->

    <!--<ImageButton-->
      <!--android:id="@+id/location_2_image_button"-->
      <!--android:layout_width="0dp"-->
      <!--android:layout_height="wrap_content"-->
      <!--android:layout_weight="1"-->
      <!--android:adjustViewBounds="true"-->
      <!--android:background="#0444"-->
      <!--android:scaleType="fitCenter"-->
      <!--android:src="@drawable/none_ball" />-->

    <!--<ImageButton-->
      <!--android:id="@+id/location_3_image_button"-->
      <!--android:layout_width="0dp"-->
      <!--android:layout_height="wrap_content"-->
      <!--android:layout_weight="1"-->
      <!--android:adjustViewBounds="true"-->
      <!--android:background="#0444"-->
      <!--android:scaleType="fitCenter"-->
      <!--android:src="@drawable/none_ball" />-->
  <!--</LinearLayout>-->

  <!--<TextView-->
    <!--android:id="@+id/state_label"-->
    <!--style="@style/DisplayText.Small"-->
    <!--android:layout_below="@id/golf_ball_buttons"-->
    <!--android:layout_marginLeft="20dp"-->
    <!--android:layout_marginRight="20dp"-->
    <!--android:layout_marginTop="10dp"-->
    <!--android:text="Current state:" />-->

  <!--<TextView-->
    <!--android:id="@+id/current_state_textview"-->
    <!--style="@style/DisplayText.Small"-->
    <!--android:layout_alignBaseline="@id/state_label"-->
    <!--android:layout_toRightOf="@id/state_label"-->
    <!--android:text="-&#45;&#45;" />-->

  <!--<TextView-->
    <!--android:id="@+id/state_time_label"-->
    <!--style="@style/DisplayText.Small"-->
    <!--android:layout_below="@+id/state_label"-->
    <!--android:layout_marginLeft="20dp"-->
    <!--android:layout_marginTop="10dp"-->
    <!--android:text="State time:" />-->

  <!--<TextView-->
    <!--android:id="@+id/state_time_textview"-->
    <!--style="@style/DisplayText.Small"-->
    <!--android:layout_alignBaseline="@id/state_time_label"-->
    <!--android:layout_toRightOf="@id/state_label"-->
    <!--android:text="-&#45;&#45;" />-->

  <!--<TextView-->
    <!--android:id="@+id/gps_label"-->
    <!--style="@style/DisplayText.Small"-->
    <!--android:layout_below="@+id/state_time_label"-->
    <!--android:layout_marginLeft="20dp"-->
    <!--android:layout_marginTop="10dp"-->
    <!--android:text="GPS info:" />-->

  <!--<TextView-->
    <!--android:id="@+id/gps_info_textview"-->
    <!--style="@style/DisplayText.Small"-->
    <!--android:layout_alignBaseline="@id/gps_label"-->
    <!--android:layout_toRightOf="@id/state_label"-->
    <!--android:text="-&#45;&#45;" />-->

  <!--<TextView-->
    <!--android:id="@+id/orientation_label"-->
    <!--style="@style/DisplayText.Small"-->
    <!--android:layout_below="@+id/gps_label"-->
    <!--android:layout_marginLeft="20dp"-->
    <!--android:layout_marginTop="10dp"-->
    <!--android:text="Orientation:" />-->

  <!--<TextView-->
    <!--android:id="@+id/orientation_textview"-->
    <!--style="@style/DisplayText.Small"-->
    <!--android:layout_alignBaseline="@id/orientation_label"-->
    <!--android:layout_toRightOf="@id/state_label"-->
    <!--android:text="-&#45;&#45;" />-->


  <!--<TextView-->
    <!--android:id="@+id/left_right_location_label"-->
    <!--style="@style/DisplayText.Small"-->
    <!--android:layout_below="@id/orientation_label"-->
    <!--android:layout_marginLeft="20dp"-->
    <!--android:layout_marginTop="5dp"-->
    <!--android:text="Left/Right Location" />-->

  <!--<TextView-->
    <!--android:id="@+id/left_right_location_value"-->
    <!--style="@style/DisplayText.Small"-->
    <!--android:layout_alignBaseline="@id/left_right_location_label"-->
    <!--android:layout_alignParentRight="true"-->
    <!--android:layout_marginRight="30dp"-->
    <!--android:text="-&#45;&#45;" />-->

  <!--<TextView-->
    <!--android:id="@+id/top_bottom_location_label"-->
    <!--style="@style/DisplayText.Small"-->
    <!--android:layout_below="@id/left_right_location_label"-->
    <!--android:layout_marginLeft="20dp"-->
    <!--android:layout_marginTop="5dp"-->
    <!--android:text="Top/Bottom Location" />-->

  <!--<TextView-->
    <!--android:id="@+id/top_bottom_location_value"-->
    <!--android:layout_alignBaseline="@id/top_bottom_location_label"-->
    <!--android:layout_alignParentRight="true"-->
    <!--android:layout_marginRight="30dp"-->
    <!--style="@style/DisplayText.Small"-->
    <!--android:text="-&#45;&#45;" />-->

  <!--<TextView-->
    <!--android:id="@+id/size_percentage_label"-->
    <!--style="@style/DisplayText.Small"-->
    <!--android:layout_below="@id/top_bottom_location_label"-->
    <!--android:layout_marginLeft="20dp"-->
    <!--android:layout_marginTop="5dp"-->
    <!--android:text="Size Percentage" />-->

  <!--<TextView-->
    <!--android:id="@+id/size_percentage_value"-->
    <!--android:layout_alignBaseline="@id/size_percentage_label"-->
    <!--android:layout_alignParentRight="true"-->
    <!--android:layout_marginRight="30dp"-->
    <!--style="@style/DisplayText.Small"-->
    <!--android:text="-&#45;&#45;" />-->

  <!--<TextView-->
    <!--android:id="@+id/right_duty_cycle_textview"-->
    <!--style="@style/DisplayText.Small"-->
    <!--android:layout_alignParentBottom="true"-->
    <!--android:layout_alignParentRight="true"-->
    <!--android:layout_margin="5dp"-->
    <!--android:gravity="right"-->
    <!--android:text="Right\n0"-->
    <!--android:textSize="22sp" />-->

  <!--<TextView-->
    <!--android:id="@+id/left_duty_cycle_textview"-->
    <!--style="@style/DisplayText.Small"-->
    <!--android:layout_alignParentBottom="true"-->
    <!--android:layout_alignParentLeft="true"-->
    <!--android:layout_margin="5dp"-->
    <!--android:text="Left\n0"-->
    <!--android:textSize="22sp" />-->

  <!--<TextView-->
    <!--android:id="@+id/match_time_textview"-->
    <!--style="@style/DisplayText.Small"-->
    <!--android:layout_alignParentBottom="true"-->
    <!--android:layout_centerHorizontal="true"-->
    <!--android:layout_margin="5dp"-->
    <!--android:text="5:00"-->
    <!--android:textSize="22sp" />-->

<!--</RelativeLayout>-->
