<!--  <md-card-header>
    <img md-card-avatar src="https://material.angularjs.org/latest/img/washedout.png">
    <md-card-title>Header title</md-card-title>
    <md-card-subtitle>Header subtitle</md-card-subtitle>
  </md-card-header>
  -->
<md-card-content>
  <md-card-title>Commands</md-card-title>
  <button md-button (click)="commandsRef.child('sendWheelSpeed').set('255, 255')">Forward</button>
  <button md-button (click)="commandsRef.child('sendWheelSpeed').set('0, 0')">Stop</button>
  <button md-button (click)="commandsRef.child('sendWheelSpeed').set('-150, -150')">Reverse</button>


</md-card-content>
