<md-sidenav-layout>
  <md-sidenav #sidenav>
    <div class="nav-header">
      <img src="images/rose_logo_w.png" alt="Rose-Hulman Logo" />
      <div class="nav-header-subtitles">
        ME435 / CSSE435<br>
        Firebase Robot Remote
      </div>
    </div>
    <div class="sidenav-content">
      <button md-raised-button (click)="sidenav.close()" [routerLink]="['SetFirebasePath']">Set Firebase Path</button>
      <div class="sidenav-category">For Anyone</div>
      <button md-raised-button (click)="sidenav.close()" [routerLink]="['ObserveOnly']">Observe Robot</button>
      <div class="sidenav-category">Robot Team Only</div>
      <button md-raised-button (click)="sidenav.close()" [routerLink]="['ManualDrive']">Manual Drive</button>
      <button md-raised-button (click)="sidenav.close()" [routerLink]="['TestingWithControls']">Testing</button>
      <button md-raised-button (click)="sidenav.close()" [routerLink]="['CompetitionController']">Competition</button>
      <button md-raised-button (click)="sidenav.close()" [routerLink]="['RobotParams']">Params</button>
    </div>
  </md-sidenav>

  <md-toolbar>
    <button md-button (click)="sidenav.open()">Open</button>
    <span>Firebase Robot Remote</span>
  </md-toolbar>
  <div class="remote-container">
    <md-card>
      <router-outlet></router-outlet>
    </md-card>
  </div>
</md-sidenav-layout>
