.sidenav-content {
  padding: 0 10px;
}

.nav-header {
  height: 100px;
  background: #800;
  color: white;
}

md-sidenav button {
  display: block;
  margin: 10px;
  width: 150px;
}

.remote-container {
  min-height: 500px;
}
