md-sidenav-layout {
  height: 100%;
}

.remote-container {
  padding: 12px;
}

md-toolbar {
  background: #800;
  color: #eeeeee;
}

md-toolbar button {
  background: transparent;
  border: none;
}

.fa-bars {
  color: #eeeeee;
  margin-right: 10px;
  bottom: 1px;
  position: relative;
  font-size: 22px;
}
